#header {
  display: flex;
  align-items: center;
  background: orange;
  justify-content: space-between;
  width: 100%;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex-grow: 1;
}
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center; 
  float: right;
  position: fixed;
  top: 44px;
  left: 95%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.box{
  padding-top: 0px;
  padding-bottom: 0px;
}
.menu li {
  padding: 10px;
}
.logo {
  margin: 20px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 220px;
}
.block {
  display: flex;
  width: 100%;
}
.aside1,
.aside2 {
  background: rgb(163, 163, 230);
  min-width: 210px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding: 10px;
}
.aside1{
  order: -1;
}
.block-content {
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
  flex-grow: 1;
}
.our {
  text-align: center;
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.card1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 400px;
  min-height: 500px;
  border: 1px solid;
  padding: 10px;
  margin: 5px;
  border-radius: 6%;
  align-items: center;
  flex-grow: 1;
}
.card1 p {
  width: 300px;
  text-align: center;
}
.icon {
  max-width: 120px;
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0px 14px gray;
}
.button {
  padding: 10px 20px;
  background: rgb(163, 163, 230);
  border-radius: 35px;
  transition: 1s;
  cursor: pointer;
}
.button:hover {
  background: yellow;
  display: block;
}
.footer {
  display: flex;
  height: 5vh;
  background: rgb(157, 226, 157);
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.holder {
  margin: auto;
  box-sizing: content-box;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 235px;
  margin-top: 50px;
  border-radius: 40px 40px 0 0;
  border: 2px solid black;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item:nth-child(1) {
  width: 300px;
  background: #fd644d;
  order: -3;
  border-radius: 38px 0 0 0;
}
.item:nth-child(2) {
  width: 200px;
  background: #663797;
}
.item:nth-child(3) {
  order: -1;
  width: 200px;
  background: #4983b2;
}
.item:nth-child(4) {
  width: 200px;
  background: #0e7f12;
}
.item:nth-child(5) {
  order: -2;
  width: 300px;
  background: #fda429;
  border-radius: 0 38px 0 0;                                                                      
}
@media (max-width: 991px) {
.block-content {
   font-size: 15px;
 }
 .menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  left: 95%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.aside1, .aside2 {
  display: flex;
   min-width: 105px;
 }
 #header{
  width: 100%;
  position: relative;
 }
.logo img {
   width: 170px;
}
.card1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 200px;
  min-height: 300px;
  border: 1px solid;
  padding: 10px;
  margin: 5px;
  border-radius: 6%;
  align-items: center;
  flex-grow: 1;
}
.block-content{
  padding: 15px;
}
}
@media (max-width: 767px) {
.block-content {
   font-size: 15px;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 40px;
  left: 95%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.aside1, .aside2 {
  display: flex;
  min-width: 68px;
}
.logo img {
  width: 170px;
}
.card1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid;
  padding: 14px;
  margin: 134px;
  margin-top: -21px;
  border-radius: 6%;
  align-items: center;
  flex-grow: 1;
}
.block-conten{
  padding: 15px;
}
.text{
 display: flex;
 font-size: 10px;
 text-align: center;
}
#header{
  width: 100%;
}